/**
 * Created by ouyangyibin on 2016-08-03 23:33:45
 */

/* Public */
html{
    font-size: 16px;
}
body,ul,li{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "consolas",Microsoft Yahei;
    text-align: justify;
}
h1,h2,h3,h4,h5,h6{ margin-top: 30px; font-weight: bold; }
p{ padding: 4px 0; }
ul{ list-style-type: none; }

/* Variable */
@BLUE: #428bca;

/* Class */
.clearfix{ zoom: 1; }
.clearfix:after{ content: ""; display: block; visibility: hidden; height: 0; line-height: 0; font-size: 0; clear: both; }
.d_loading{
    position: fixed;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: #FFF;
    i{
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -20px;
        font-size: 50px;
        color: @BLUE;
    }
}

/* Code */
body{
    background-color: #EEE;
}
.d_content{
    padding: 80px 0;
    width: 100%;
    .content{
        margin: 0 auto;
        padding: 12px 22px;
        max-width: 900px;
        background-color: #FFFFFF;
        border-radius: 10px;
    }
}
pre{
    font-size: 0.9rem;
    background-color: #373832;
    border: none;
    color: #FFF;
}
p{
    text-indent: 2rem;
}