/* Public */
body,form,tr,td,input,textarea,ul,li,p,h1,h2,h3,h4,h5,h6,img{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{ font-weight: normal; }
div{ position: relative; }
img{ border: none; }
ul{	list-style-type: none; }
em{ font-style: normal; }
a{ text-decoration: none; }
a:hover{ text-decoration: underline; }
*{ font-family: 'Consolas' }
/**{ font-family: 'Consolas','Microsoft Yahei'; }*/

/* Variable */
$WEBWIDTH: 600px;
 
/* Class */
.clearfix{ zoom: 1; }
.clearfix:after{ content: ""; display: block; visibility: hidden; height: 0; line-height: 0; font-size: 0; clear: both; }

/* Code */
body{
	font-size: 1rem;
}
h1{
	font-size: 2rem;
}
.f_app{
	background-color: #3A3AFE;
	.app_title{
		margin: 0 auto;
		max-width: $WEBWIDTH;
		height: 3rem;
		line-height: 3rem;
		text-align: center;
		color: #FFF;
	}
}

/* 个人基础信息 */
.fd_info{
	background-color: #EEEFF5;
	.d_basicInfo{
		margin: 0 auto;
		padding: 4% 4%;
		max-width: $WEBWIDTH;
		/*background-color: blue;*/
		h1{
			padding-bottom: 0.6rem;
			font-family: 'Arial';
		}
		ul{
			padding-left: 4%;
			font-size: 0.85rem;
			line-height: 1.2rem;
			li{
				span{
				}
				span.span_left{
					float: left;
					width: 20%;
				}
				span.span_right{
					float: left;
					a{
						color: #00F;
					}
					a:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}