<!DOCTYPE html>
<html ng-app="myApp">
<head>

<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->

<meta charset="utf-8">
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="email=no"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" name="viewport">
<meta http-equiv="cache-control" content="no-cache" />

<title>ohyang index</title>


<!-- CSS -->
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./css/course.css?v=201608260050">


</head>
<body ng-controller="publicCtrl">

<div class="d_loading" id="J_loading" ng-show="false">
    <i class="icon-spinner icon-spin"></i>
</div>

<div class="d_content" ng-if="false">
    <div class="content">
        <div ng-repeat="section in model.textObj">
            <!-- 段落标题 -->
            <div><h4>{{section.header.number + '、' + section.header.title}}</h4></div>
            <!-- 数据 -->
            <div ng-repeat="p in section.body">
                <p ng-if="p.type=='text'">{{p.data}}</p>
                <pre ng-if="p.type=='code'" ng-bind="p.data"></pre>
            </div>
        </div>
    </div>
</div>

<div class="d_content">
    <div class="content">
        <div>
            <p style="padding-top:20px">引言：</p>
            <p>这篇文章，只是让初学者们能够快速上手，如果你想要完整的学习 JQuery ，其实这篇文章并不适合你，因为有很多东西在这里是不会讲到的。而为什么会有这篇文章出现呢？因为这篇文章能够让初学者们很直观的了解到什么是 JQuery，以及它能够做到什么。</p>
        </div>
        <div><h4>一、语法篇</h4></div>
        <div>
            <p>JavaScript 是一门弱语言，也是一门脚本语言。其实它的语法结构的和广大的编程语言差不多。</p>
        </div>
        <div>
            <p>常见数据类型：Int, String, Bool, Array, Object, Function</p>
        </div>
        <div>
            <p>比较特殊的是，在 JavaScript 中，一个变量可以存储不同的数据类型，而且不需要定义类别，比如说这样子：</p>
        </div>
        <div>
<pre>
<b class="qing">var</b> a <b class="red">=</b> 100;
<b class="qing">console</b>.<b class="qing">log</b>(a);&nbsp;&nbsp;<b class="gray">// 100</b>
a <b class="red">=</b> <b class="yellow">'str'</b>;
<b class="qing">console</b>.<b class="qing">log</b>(a);&nbsp;&nbsp;<b class="gray">// 'str'</b>
</pre>
        </div>
        <div>
            <p>不过如果这样做的话，JavaScript 会消耗一些不必要的资源，如果想要知道原因不妨买本书看看，当然也可以 Google (百度)一下。</p>
        </div>
        <div>
            <p>判断语句、循环语句都跟 C 语言类似。</p>
        </div>
        <div>
<pre>
<b class="red">if</b>( <b class="pur">true</b> ) {} <b class="red">else</b> {}
<b class="red">for</b>( <b class="qing">var</b> i<b class="red">=</b><b class="pur">0</b> ; i<b class="red">&lt;</b><b class="pur">5</b> ; i<b class="red">++</b> ){}
<b class="red">while</b>(){}
<b class="red">...</b>
</pre>
        </div>
        <div>
            <p>在这里就先略过了。</p>
        </div>
        <div>
            <h4>二、过渡</h4>
        </div>
        <div>
            <p>先抛个砖，jquery 大多都是用来做什么事情的呢？jquery 可以选择在文档中的某一些元素然后进行一些相关操作，比如可以获取某些元素的文本内容，或者是在这个文档中删除这个元素等等；jquery 还能够对这些元素进行事件的绑定，通过触发事件来执行相关的函数；jquery 甚至还封装了 ajax 请求，帮我们做了不同浏览器版本的兼容。</p>
        </div>
        <div>
            <h4>三、选择器、筛选</h4>
        </div>
        <div>
            <p>我们在用 jquery 的时候，最想知道的是能利用它做什么，怎么去利用它。在上一节中提到了我们可以利用 jquery 选择在文档中的某一些元素然后进行一些相关的操作。那么在这里，我们就需要如何利用 jquery 的选择器。</p>
        </div>
        <div>
            <p>我们利用 jquery 想要去获取文档中的某个元素，可以通过 jquery 封装好的选择器去选中它。例如：</p>
        </div>
        <div>
<pre>
<b class="gray">&lt;!-- index.html --&gt;</b>
&lt;<b class="red">div</b> <b class="green">id</b>=<b class="yellow">"div1"</b>&gt;my id is div1&lt;/<b class="red">div</b>&gt;
&lt;<b class="red">input</b> <b class="green">class</b>=<b class="yellow">"content"</b> <b class="green">value</b>=<b class="yellow">"my class name is content"</b> /&gt;
&lt;<b class="red">div</b>&gt;I am div&lt;/<b class="red">div</b>&gt;

<b class="gray">&lt;!-- JS --&gt;</b>
&lt;<b class="red">script</b>&gt;
<b class="qing">var</b> a <b class="red">=</b> <b class="red">$</b>(<b class="yellow">'#div1'</b>);&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="gray">// 获取了 id 为 div1 的元素</b>
<b class="qing">var</b> b <b class="red">=</b> <b class="red">$</b>(<b class="yellow">'.content'</b>);&nbsp;&nbsp;<b class="gray">// 获取了 class 为 content 的元素</b>
<b class="qing">var</b> c <b class="red">=</b> <b class="red">$</b>(<b class="yellow">'div'</b>);&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="gray">// 获取了 2 个 div 元素</b>

<b class="gray">// 我们可以通过 console.log() 的方式在控制台打印输出内容</b>
<b class="qing">console</b>.<b class="qing">log</b>(a.<b class="qing">text</b>());&nbsp;&nbsp;&nbsp;&nbsp;<b class="gray">// 'my id is div1'</b>
<b class="qing">console</b>.<b class="qing">log</b>(b.<b class="qing">val</b>());&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="gray">// 'my class name is content'</b>
<b class="qing">console</b>.<b class="qing">log</b>(c.<b class="qing">length</b>());&nbsp;&nbsp;<b class="gray">// 2</b>
&lt;<b class="red">/script</b>&gt;
</pre>
        </div>
        <div>
            <p>有的同学可能会问，后面的.text()那些都是什么意思？其实，对照的 HTML 文档，都可以基本猜得出来是什么意思。.text()为 jquery 封装好的获取该元素内的文本信息；.val()为获取该元素的 value 属性的值；.length() 为返回选中的元素的个数。</p>
        </div>
        <div>
            <h4>四、属性</h4>
        </div>
        <div>
            <p>我们知道一个标签中，是包含有很多的属性的，看代码说话。</p>
        </div>
        <div>
<pre>
&lt;<b class="red">div</b> <b class="green">id</b>=<b class="yellow">"one"</b> <b class="green">class</b>=<b class="yellow">"d-1"</b> <b class="green">data-id</b>=<b class="yellow">"15484"</b>&gt;
    this is &lt;<b class="red">b</b>&gt;text&lt;/<b class="red">b</b>&gt;
&lt;/<b class="red">div</b>&gt;
</pre>
        </div>
        <div>
            <p>获取这个 div 元素的文本信息：$('#one').text();    // 'this is text'</p>
        </div>
        <div>
            <p>获取这个 div 元素的 HTML 值：$('.d-1').html();    // 'this is &lt;b&gt;text&lt;/b&gt;'</p>
        </div>
        <div>
            <p>获取这个 div 元素的 data-id 属性：$('#one').attr('data-id');    // '15484'</p>
        </div>
        <div>
            <p>当然还能够进行设置：</p>
        </div>
        <div>
<pre>
<b class="red">$</b>(<b class="yellow">'#one'</b>).<b class="qing">text</b>(<b class="yellow">'new text'</b>);&nbsp;&nbsp;&nbsp;&nbsp;<b class="gray">// div 的文本信息变成 'new text'</b>
<b class="red">...</b>
</pre>
        </div>
        <div>
            <p>还有非常多的函数可以获取各式各样的属性，还包括隐藏的 css 样式属性也是能够获取到的，如果想要知道如何使用的话，请查看 jquery 的手册吧。</p>
        </div>
        <div>
            <h4>五、事件</h4>
        </div>
        <div>
            <h4>六、动画效果</h4>
        </div>
        <div>
            <h4>七、ajax</h4>
        </div>
        <div>
            <h4>八、应用栗子</h4>
        </div>
    </div>
</div>


<!-- JS -->
<script src="./js/lib/angular-1.5.6.min.js"></script>
<script src="./js/courseApp.js"></script>


</body>
</html>